* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header img {
    width: 200px;
}

.name {
    color: #AE7386;
}

.dove h2 {
    color: #AE7386;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 760px) {
    .profile {
        padding-left: 50%;
    }
}

@media (min-width: 1024px) {
    header img {
        width: 150px;

    }
}